.item-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  max-height: 430px;
  padding-right: 12px;
}

.item-list .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 12px;
  border-radius: 12px;
  padding: 12px 16px;
  background-color: #fff;
  border: 1.5px solid black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item-list .empty {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
  border-radius: 12px;
  padding: 12px 16px;
  background-color: #fff;
  color: #696969;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dark .item-list .empty {
  border: 1px solid #fafafa;
  background-color: transparent;
  color: #fafafa;
}

.item-list .item p {
  margin: 0;
  margin-right: 1em;
  color: black;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
}

.item-list-filters {
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  padding-bottom: 0.4em;
}

.item-list-filters::-webkit-scrollbar {
  height: 6px;
}

@media screen and (max-width: 475px), (min-width: 533px) {
  .item-list-filters::-webkit-scrollbar {
    display: none;
  }
}

.item-list-filters button {
  width: 100%;
  height: 40px;
  border: 1.5px solid black;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  font-size: 15px;
  font-weight: 500;
  color: #121212;
}

.icon-category {
  width: 19px !important;
}

.colleagues {
  width: 15px !important;
}

.item-list-filters button:last-child {
  margin-right: 13px;
}

.dark .item-list-filters button {
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
}

.counter {
  margin-left: 0.3em;
  font-size: 14px !important;
  font-weight: bold;
}

.item-list-filters button:hover {
  cursor: pointer;
}

.item-list-filters button svg {
  margin-right: 6px;
  width: 20px;
  height: 20px;
}

/* Indication of which category filter is selected/active. */
.active {
  background-color: #249d24 !important;
  color: #fff !important;
  font-weight: 600 !important;
}

.item-list-filters button:disabled {
  cursor: default;
  border: none;
  color: #999 !important;
}

.dark .active {
  background-color: #fafafa !important;
  color: black !important;
}

/* Add & Remove item */
.item {
  justify-content: space-between;
}

.dark .item {
  background-color: transparent;
  border: 1px solid #ffffff;
}

.dark .item p {
  color: #fafafa;
}

.item button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  padding: 12.8px;
}

.add-item,
.remove-item {
  width: 100%;
  height: 100%;
  color: #1465b5;
  position: absolute;
}

.add-item:hover {
  color: #249d24;
}

.dark .remove-item,
.dark .add-item {
  color: #fafafa;
}

.dark .add-item:hover {
  color: #3594f3;
}

.remove-item:hover {
  color: #ff0000;
}

.disabled,
.disabled:hover {
  color: #d0d0d0;
  cursor: default;
}

.dark .disabled,
.dark .disabled:hover {
  color: #d0d0d06e;
}

/* Quantity case */

.quantity-container {
  display: flex;
  align-items: center;
}

.quantity-container select {
  margin-right: 1em;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 8px;
  width: 47px;
  height: 28px;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  color: black;
}

.dark .quantity-container select {
  border: 1px solid #fafafa;
  color: #fafafa;
}

.quantity-btn {
  margin-left: 0.7em;
  display: flex;
}

.quantity-btn button {
  margin: 0 0.2em;
  padding: 0;
  border: 1px solid black;
  font-size: 15px;
}
