.gender h3 span {
  color: #006daa;
}

.dark .gender h3 span {
  color: #108dd5;
}

.gender {
  display: flex;
  flex-direction: column;
}

.gender-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gender p {
  color: #000000;
  font-size: 17px;
  margin-right: 12px;
  font-weight: 700;
}

.dark .gender p {
  color: white;
}

.gender button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  padding: 10px;
  border: 2px solid #000000;
  background-color: white;
  color: #000000;
  border-radius: 50px;
}

.gender button:hover {
  cursor: pointer;
}

.gender button svg {
  width: 25px;
  height: 25px;
}

.male,
.female,
.non-binary {
  color: black !important;
}

.male {
  background-color: #89c0de !important;
}

.female {
  background-color: #f5bcf3 !important;
}

.non-binary {
  background: #ffea71 !important;
}

.dark button {
  color: white;
  background-color: transparent;
  border: 2px solid #ffffff;
}

.dark .male,
.dark .female,
.dark .non-binary {
  color: #121212 !important;
}

.dark .female {
  border: 2px solid #f5bcf3 !important;
}

.dark .male {
  border: 2px solid #89c0de !important;
}

.dark .non-binary {
  border: 2px solid #ffea71 !important;
}

.clear-gender {
  font-weight: 500;
  font-size: 15px;
  text-decoration: underline;
  cursor: pointer;
}
