.App {
  padding: 30px 40px;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #f1f1f1;
}

.dark ::-webkit-scrollbar-track {
  background: #f1f1f113;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #249d24;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #249d24;
}
